/*/ they are in alphabetic order/*/
a {
  color: #8AB6D6;
  font-family: 'Brygada 1918', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
      color: #EAF6F6;
}
body {
  color: #40514E;
  font-family: 'Brygada 1918', serif;
  font-size: 22px;
  margin: 0px;
  text-align: center;
}
h1 {
  color: #2978B5;
  font-family: 'Courgette', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}
h2 {
  color: #2978B5;
  font-family: 'Brygada 1918', serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px
}
h3 {
  color: #8AB6D6;
  font-family: 'Brygada 1918', serif;
}
h4 {
  text-align: right;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}
p {
  line-height: 2
}
span {
  text-decoration: underline;
}
/*/ the ones with class.....///////////*/

.bottom-container {
  background-color: #F05454;
  padding: 50px 0 20px;
}
.bottom-img {
    position: absolute;
    left: 250px;
    bottom: 400px;
}
.btn {
  background: #F05454;
  background-image: -webkit-linear-gradient(top, #F05454, #119998);
  background-image: -moz-linear-gradient(top, #F05454, #119998);
  background-image: -ms-linear-gradient(top, #F05454, #119998);
  background-image: -o-linear-gradient(top, #F05454, #119998);
  background-image: linear-gradient(to bottom, #F05454, #119998);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Brygada 1918', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #810000;
  background-image: -webkit-linear-gradient(top, #810000, #2978B5);
  background-image: -moz-linear-gradient(top, #810000, #810000);
  background-image: -ms-linear-gradient(top, #810000, #810000);
  background-image: -o-linear-gradient(top, #810000, #810000);
  background-image: linear-gradient(to bottom, #810000, #810000);
  text-decoration: none;
}
.code {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.code1 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact {
   width: 40%;
   margin: 40px auto 60px;
}
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.intro {
    width: 40%;
    margin: auto;
}
.middle-container {
  background-color: ;
  margin: 100px 0;
  padding: 0;
}
.profile img {
     border-radius: 50%;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.top-container  {
  background-color: #810000;
  position: relative;
  padding-top: 100px;
}
.top-img {
   position: absolute;
   right: 300px;
   top: 40px;
}
